// Media Queries
$mq__page-max: 1196px;

$mq__desktop_wide: 1600px;
$mq__desktop: 1440px;
$mq__laptop: 1200px;
$mq__tablet_wide: 992px;
$mq__tablet: 850px;
$mq__mobile_wide: 576px;
$mq__mobile: 376px;

$reduce: 0.02px;

/* mq for max-width reduced by 0.2 pixel like bootstrap */
$mq__desktop_wide_down: calc($mq__desktop_wide - $reduce);
$mq__desktop_down: calc($mq__desktop - $reduce);
$mq__laptop_down: calc($mq__laptop - $reduce);
$mq__tablet_wide_down: calc($mq__tablet_wide - $reduce);
$mq__tablet_down: calc($mq__tablet - $reduce);
$mq__mobile_wide_down: calc($mq__mobile_wide - $reduce);
$mq__mobile_down: calc($mq__mobile - $reduce);

