// Media Queries
$mq__page-max: 1196px;

$mq__desktop_wide: 1600px;
$mq__desktop: 1440px;
$mq__laptop: 1200px;
$mq__tablet_wide: 992px;
$mq__tablet: 768px;
$mq__mobile_wide: 576px;
$mq__mobile: 376px;

/* mq for max-width reduced by one pixel */
$mq__desktop_wide_down: 1599px;
$mq__desktop_down: 1439px;
$mq__laptop_down: 1199px;
$mq__tablet_wide_down: 991px;
$mq__tablet_down: 767px;
$mq__mobile_wide_down: 575px;
$mq__mobile_down: 375px;

