.header {
    display: flex;
    align-items: center;
    height: var(--header-height);

    @media (min-width: $mq__mobile) {
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        margin-left: calc(var(--space-side) * -1 + 6px);
    }

    &__item {
        &_menu {
            @media (max-width: $mq__tablet_down) {
                z-index: 2;
                position: fixed;
                top: var(--header-height);
                right: 0;
                bottom: 0;
                left: 0;
            }

            @media (min-width: $mq__tablet) {
                display: flex;
                justify-content: center;
                flex: 1 1 auto;
            }
        }

        &_control {
            @media (min-width: $mq__tablet) {
                display: none;
            }
        }

        &_info {
            margin-left: auto;
            @media (min-width: $mq__mobile) {
                margin-left: 0;
            }
        }
    }

    &__menu {
        .is-menu-open & {
            @media (max-width: $mq__tablet_down) {
                transform: translateX(0);
            }
        }

        @media (max-width: $mq__tablet_down) {
            z-index: 1;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            transform: translateX(100%);
            width: var(--menu-width);
            transition-property: transform;
            transition-duration: var(--animation-duration);
            transition-timing-function: var(--ease);
        }

        @media (max-width: $mq__mobile_down) {
            width: 100%;
        }
    }

    &__menu-close {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;
        background: var(--color-overlay);
        border: none;
        transition-property: opacity, visibility;
        transition-duration: var(--animation-duration);
        transition-timing-function: var(--ease);

        .is-menu-open & {
            opacity: 1;
            visibility: visible;
        }

        @media (min-width: $mq__tablet) {
            display: none;
        }
    }

}
