.header {
    display: flex;
    align-items: center;
    height: var(--header-height);

    @media (min-width: $mq__mobile) {
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        top: 7px;
    }

    &__item {
        &_menu {
            .is-mobile-menu-open & {
                @media (max-width: $mq__tablet_down) {

                }
            }

            @media (max-width: $mq__tablet_down) {
                z-index: 2;
                position: fixed;
                top: var(--header-height);
                right: 0;
                bottom: 0;
                left: 0;
                background: var(--color-overlay);

            }

            @media (min-width: $mq__tablet) {
                display: flex;
                justify-content: center;
                flex: 1 1 auto;
            }
        }

        &_control {
            @media (min-width: $mq__tablet) {
                display: none;
            }
        }

        &_info {
            margin-left: auto;
            @media (min-width: $mq__mobile) {
                margin-left: 0;
            }
        }
    }

    &__menu {
        .is-mobile-menu-open & {
            @media (max-width: $mq__tablet_down) {
                right: 0;
            }
        }

        @media (max-width: $mq__tablet_down) {
            z-index: 1;
            position: absolute;
            top: 0;
            right: 100%;
            bottom: 0;
            width: 374px;
        }

        @media (max-width: $mq__mobile_down) {
            left: 0;
            width: auto;
        }

    }

    &__menu-close {
        opacity: 0;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        cursor: pointer;

        @media (min-width: $mq__tablet) {
            display: none;
        }
    }

}
