.header {
    display: flex;
    align-items: center;
    height: var(--header-height);

    @media (min-width: $mq__mobile) {
        justify-content: space-between;
    }

    &__logo {
        position: relative;
        margin-left: calc(var(--space-side) * -1 + 6px);
    }

    &__item {
        &_menu {
            @media (min-width: $mq__tablet) {
                display: flex;
                justify-content: center;
                flex: 1 1 auto;
            }

            .is-menu-open & {
                @media (max-width: $mq__tablet_down) {
                    transform: translateX(0);
                }
            }

            @media (max-width: $mq__tablet_down) {
                background: var(--color-primary);
                z-index: 1;
                position: fixed;
                top: var(--header-height);
                right: 0;
                bottom: 0;
                transform: translateX(100%);
                width: var(--menu-width);
                transition-property: transform;
                transition-duration: var(--animation-duration);
                transition-timing-function: var(--ease);
            }

            @media (max-width: $mq__mobile_down) {
                width: 100%;
            }
        }

        &_control {
            @media (min-width: $mq__tablet) {
                display: none;
            }
        }

        &_info {
            display: flex;
            align-items: center;
            margin-left: auto;
            @media (min-width: $mq__mobile) {
                margin-left: 0;
            }
        }
    }

    &__menu {

    }

}
