.layout {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;

    &__header,
    &__footer {

    }

    &__header {
        background: var(--color-primary);
        color: var(--color-secondary);
    }

    &__body {
        position: relative;
    }

    &__content {
        position: relative;
        z-index: 1;
    }

    &__footer {
        background: var(--color-panel);
        color: var(--color-secondary);

        p {
            margin-bottom: 0;
        }
    }
}
