.logo {
    display: flex;
    width: var(--header-height);
    height: var(--header-height);
    align-items: center;
    justify-content: center;

    &__img {
        position: relative;
        top: 4px;
    }

    &__h {
        margin: 0;
        padding: 0;
        clip: rect(0, 0, 0, 0);
        overflow: hidden;
        position: absolute;
        height: 1px;
        width: 1px;
    }
}
