.menu-control {
    --menu-control-dim: 22px;
    --menu-control-border: 2px;

    border: none;
    width: var(--tap-region);
    height: var(--tap-region);
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (min-width: $mq__tablet) {
        display: none;
    }

    &__item {
        min-width: var(--menu-control-dim);
        width: var(--menu-control-dim);
        height: var(--menu-control-border);
        background: var(--color-ctrl);
        position: relative;
        transition-property: background-color;
        transition-duration: var(--animation-duration);
        transition-timing-function: var(--ease);

        .is-menu-open & {
            background: none;
        }

        &:before {
            bottom: 100%;
            margin-bottom: 4px;

            .is-menu-open & {
                margin-bottom: -2px;
                transform: rotate(45deg);
            }
        }
        &:after {
            top: 100%;
            margin-top: 4px;

            .is-menu-open & {
                margin-top: -2px;
                transform: rotate(-45deg);
            }
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: var(--menu-control-dim);
            height: var(--menu-control-border);
            background: var(--color-ctrl);
            transition-property: margin-top, margin-bottom, transform;
            transition-duration: var(--animation-duration);
            transition-timing-function: var(--ease);
        }
    }
}
