.menu {
    font-size: var(--font-size-l);

    &__list {
        margin: 0 0 0 -10px;
        padding: 0;
        list-style-type: none;
        display: flex;

        @media (max-width: $mq__tablet_down) {
            flex-direction: column;
        }
    }
    
    &__item {
        
    }

    &__link {
        margin: 0;
        padding: 2px 10px;
        border-bottom: none;
    }
    
    &__item-name {
        
    }
}
