.menu-control {
    border: none;
    width: var(--tap-region);
    height: var(--tap-region);
    background: yellow;
    cursor: pointer;

    .is-menu-open & {
        background: #2d9cdb;
    }

    @media (min-width: $mq__tablet) {
        display: none;

    }


}
