.menu {
    --item-mobile-padding: 20px;
    --menu-border-radius: 8px;

    font-size: var(--font-size-l);

    @media (min-width: $mq__tablet) {
        height: var(--header-height);
        width: 100%;
    }

    @media (min-width: $mq__laptop) {
        max-width: 80%;
    }

    &__list {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;

        @media (max-width: $mq__tablet_down) {
            flex-direction: column;
        }

        @media (min-width: $mq__tablet) {
            width: 100%;
        }

        &_sub {
            font-size: var(--font-size);
            display: none;

            @media (min-width: $mq__tablet) {
                position: absolute;
                top: 100%;
                flex-direction: column;
                width: 320px;
                background: var(--color-panel);
                border-radius: 0 0 var(--menu-border-radius) var(--menu-border-radius);
            }
        }

        &_sub &_sub {
            @media (min-width: $mq__tablet) {
                top: auto;
                bottom: 0;
                left: 100%;
                margin-left: 23px;
                width: 186px;
                border-radius: var(--menu-border-radius);
            }
            &:before {
                @media (min-width: $mq__tablet) {
                    content: '';
                    display: block;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    width: 23px;
                    transform: translateX(-100%);
                }
            }
            &:after {
                @media (min-width: $mq__tablet) {
                    content: '';
                    display: block;
                    position: absolute;
                    bottom: 8px;
                    left: 1px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 14px 14px 14px 0;
                    border-color: transparent var(--color-panel) transparent transparent;
                    transform: translateX(-100%);
                }
            }
        }
    }

    &__item {
        -webkit-tap-highlight-color: transparent;
        position: relative;
    }

    & > &__list > &__item > &__list_sub {
        @media (min-width: $mq__tablet) {
            z-index: 10;
        }

        &:before {
            @media (min-width: $mq__tablet) {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 48px;
                width: 0;
                height: 0;
                border-style: solid;
                border-width: 0 14px 14px 14px;
                border-color: transparent transparent var(--color-panel) transparent;
                transform: translateY(-100%);
            }
        }
    }

    & > &__list > &__item:hover > &__list_sub,
    &__list_sub > &__item:hover > &__list_sub {
        @media (min-width: $mq__tablet) {
            display: flex;
        }
    }

    &__list_sub &__item-name {
        @media (min-width: $mq__tablet) {
            border-bottom: 1px solid var(--color-border);
            z-index: 1;
        }
    }

    &__list_sub > &__item:last-child > &__link > &__item-name,
    &__list_sub > &__item:last-child > &__item-name {
        @media (min-width: $mq__tablet) {
            border-bottom: none;
        }
    }

    &__list_sub &__list_sub &__item-name {
        @media (max-width: $mq__tablet_down) {
            padding-left: calc(var(--item-mobile-padding) + 20px);
        }
    }

    &__list_sub > &__item:last-child > &__link > &__item-name,
    &__list_sub > &__item:last-child > &__item-name {
        @media (min-width: $mq__tablet) {
            border-radius: 0 0 var(--menu-border-radius) var(--menu-border-radius);
        }
    }

    &__list_sub &__list_sub &__item:first-child &__item-name {
        @media (min-width: $mq__tablet) {
            border-radius: var(--menu-border-radius) var(--menu-border-radius) 0 0;
        }
    }

    &__link {
        display: block;
        margin: 0;
        border-bottom: none;
    }

    &__link,
    &__link:visited {
        color: var(--color-secondary);
    }
    
    &__item-name {
        white-space: nowrap;
        display: block;
        cursor: pointer;
        transition-property: color, background-color;
        transition-duration: var(--animation-duration);
        position: relative;
        user-select: none;

        @media (max-width: $mq__tablet_down) {
            padding: var(--item-mobile-padding) 10px var(--item-mobile-padding) var(--item-mobile-padding);
            transition: background-color var(--animation-duration);
            transition-duration: var(--animation-duration);
            background: var(--color-panel);
            margin-bottom: 1px;
        }
    }

    & > &__list > &__item {
        @media (min-width: $mq__tablet) {
            flex-grow: 1;
            justify-content: center;
        }
    }

    & > &__list > &__item > &__link > &__item-name,
    & > &__list > &__item > &__item-name {
        @media (min-width: $mq__tablet) {
            display: flex;
            justify-content: center;
        }

        &:hover {
            @media (hover and min-width: $mq__tablet){
                color: var(--color-link-hover);
            }
        }
    }

    &__item-text {
        position: relative;
        display: inline-block;
        padding-right: 24px;
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__item-text {
        @media (min-width: $mq__tablet) {
            height: var(--header-height);
            line-height: var(--header-height);
        }
    }

    &__list_sub &__item-text {
        @media (min-width: $mq__tablet) {
            height: 40px;
            line-height: 42px;
            padding: 0 18px;
        }
    }

    &__list_sub > &__item_parent > &__item-name &__item-text {
        @media (min-width: $mq__tablet) {
            padding-right: 38px;
        }
    }

    &__list_sub &__item-name {
        &:hover {
            @media (hover and min-width: $mq__tablet){
                background: var(--color-primary);
            }
        }
    }

    &__item_parent > &__item-name &__item-text {
        &:after {
            content: '';
            display: block;
            position: absolute;
            right: 4px;
            top: 50%;
            transform: rotate(180deg) translateY(30%);
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 0 4px 6px 4px;
            border-color: transparent transparent var(--color-ctrl) transparent;
            transition-property: transform;
            transition-duration: var(--animation-duration);
        }
    }

    &__item_parent.is-open > &__item-name &__item-text {
        &:after {
            @media (max-width: $mq__tablet_down) {
                transform: rotate(0) translateY(-30%);
            }
        }
    }

    &__list > &__item:hover > &__item-name &__item-text:after,
    &__list_sub > &__item:hover > &__item-name &__item-text:after  {
        @media (min-width: $mq__tablet) {
            transform: rotate(0) translateY(-30%);
        }
    }

    &__list_sub > &__item > &__item-name &__item-text:after  {
        @media (min-width: $mq__tablet) {
            right: 18px;
        }
    }

    &__item_parent.is-open > &__item-name {
        @media (max-width: $mq__tablet_down) {
            background: var(--color-primary);
        }
    }

    &__item_parent.is-open > &__item-name + &__list_sub {
        @media (max-width: $mq__tablet_down) {
            display: flex;
        }
    }
}
