.menu-control {
    border: none;
    width: var(--tap-region);
    height: var(--tap-region);
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    .is-menu-open & {

    }

    @media (min-width: $mq__tablet) {
        display: none;
    }

    &__item {
        width: 22px;
        height: 2px;
        background: var(--color-ctrl);
        position: relative;

        &:before {
            bottom: 100%;
            margin-bottom: 4px;
        }
        &:after {
            top: 100%;
            margin-top: 4px;
        }

        &:before,
        &:after {
            content: '';
            position: absolute;
            display: block;
            width: 22px;
            height: 2px;
            background: var(--color-ctrl);
        }
    }


}
