.section {
    &_v-spaced {
        padding: var(--space-side-v) 0;
    }

    &_another {
        background: var(--color-panel-2);
    }

    &__body {
        width: 100%;
        @include sides-space;
        max-width: calc(var(--page-max) + var(--space-side) * 2);
        margin-left: auto;
        margin-right: auto;
    }
}
